*~
!.*

composer.phar

vendor/
coverage/

.phpunit.result.cache
.phpunit.cache

.deptrac.cache

.idea/

.env

# prevent accidental data uploads, we do not expect any sql files here
*.sql
*.sql.gz

*.bak

