*~
!.*

composer.phar

vendor/
coverage/

.phpunit.result.cache
.phpunit.cache

.deptrac.cache

.idea/

.env

# prevent accidental data uploads, we do not expect any sql or csv files here
*.sql
*.sql.gz
*.csv

*.bak

