includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
	ignoreErrors:
		# A workaround for Doctrine not specifying an UniqueConstraintViolationException being thrown
		# See https://github.com/doctrine/orm/issues/7780
		# This rule might be unneccessary in the future with a fixe discussed in
		# https://github.com/phpstan/phpstan-doctrine/issues/295
		- message: /Doctrine\\DBAL\\Exception\\UniqueConstraintViolationException is never thrown in the try block/
		  path: src/DataAccess/DoctrinePaymentRepository.php
		  count: 1

	excludePaths:
		analyse:
			- tests/Inspectors
