parameters:
	ignoreErrors:
		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\Model\\\\Iban\\:\\:sanitizeIban\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Domain/Model/Iban.php

		-
			message: "#^Property WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\CreditCard\\:\\:\\$config has no type specified\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/CreditCard.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\CreditCardConfig\\:\\:newFromConfig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/CreditCardConfig.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\PayPal\\:\\:getDelayedSubscriptionParams\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/PayPal.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\PayPal\\:\\:getIntervalAgnosticParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/PayPal.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\PayPal\\:\\:getIntervalDependentParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/PayPal.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\PayPal\\:\\:getPaymentDelayParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/PayPal.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\PayPal\\:\\:getSinglePaymentParams\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/PayPal.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Domain\\\\PaymentUrlGenerator\\\\PayPal\\:\\:getSubscriptionParams\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/PaymentUrlGenerator/PayPal.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Tests\\\\Unit\\\\Domain\\\\BankDataValidatorTest\\:\\:invalidBankDataProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/BankDataValidatorTest.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Tests\\\\Unit\\\\Domain\\\\BankDataValidatorTest\\:\\:testGivenFailingIbanValidator_validationFails\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Unit/Domain/BankDataValidatorTest.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Tests\\\\Unit\\\\Domain\\\\BankDataValidatorTest\\:\\:validBankDataProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/BankDataValidatorTest.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Tests\\\\Unit\\\\Domain\\\\ChecksumGeneratorTest\\:\\:getRandomStrings\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Unit/Domain/ChecksumGeneratorTest.php
		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Tests\\\\Unit\\\\Domain\\\\Model\\\\IbanTest\\:\\:getValidIbansWithDisallowedCharacters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/Model/IbanTest.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\PaymentContext\\\\Tests\\\\Unit\\\\Domain\\\\PaymentUrlGenerator\\\\CreditCardTest\\:\\:donationProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/PaymentUrlGenerator/CreditCardTest.php

